<h1>Products</h1>
<h2>Got to your profile</h2>
<a href="/profile">Visit your profile</a>

{{#if welcomeMessage}}
  <div id="welcomeMessage">
    <p>{{welcomeMessage}}</p>
    <button onclick="dismissWelcome()">OK</button>
  </div>
{{/if}}

{{#each products}}
  <!-- Display product information -->
  <h3>{{this.name}}</h3>
  <p>{{this.description}}</p>
  <p>Price: ${{this.price}}</p>
  <!-- Add button to add product to cart -->
  <form
    action="/carts/657590c3cc1469187ebe231f/product/{{this._id}}"
    method="POST"
  >
    <input type="hidden" name="quantity" value="1" />
    <button type="submit">Add to Cart</button>
  </form>
{{/each}}

<a href="/logout">Logout</a>

<script>
  function dismissWelcome() {
  document.getElementById('welcomeMessage').style.display = 'none'; };
  //Extract JSON data from the script tag or data attribute const jsonData =
  JSON.parse('{{jsonData}}'); // Use the jsonData object as needed
  console.log(jsonData);
</script>